.startStop {
  border-radius: 50%;
  background-color: #4CAF50;
  border: 1px solid #f0f0f0;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 150px;
  height: 150px;
  margin-bottom: 16px;
}

.stopButton {
  background-color: lightcoral;
}

.bottoniFondoPagina {
  background-color: #4CAF50;
  width: 125px;
  height: 90px;
  margin: 20px;
  padding: 20px;
}

.bottoniFondoPagina a:hover {
  color: white;
}
